In [12]:
import boto3
import pickle
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [13]:
bucket_name = 'tfl-cycle-data'
s3_file_path = 'Docking_station_data/Waterloo-Jan2016-Apr2024.pkl'
notebook_file_path = 'temp/Waterloo-Jan2016-Apr2024.pkl'
s3 = boto3.client('s3')

s3.download_file(bucket_name, s3_file_path, notebook_file_path)

In [22]:
with open(notebook_file_path, 'rb') as f:
    waterloo_df = pickle.load(f)

In [23]:
waterloo_df.head()

,Rental ID,Start Date,Start Station Name,End Date,End Station Name
0,50755276,2016-10-01 08:41:00,"William IV Street, Strand",2016-10-01 08:47:00,"Waterloo Station 3, Waterloo"
1,50755420,2016-10-01 09:05:00,"Bermondsey Street, Bermondsey",2016-10-01 09:15:00,"Waterloo Station 3, Waterloo"
2,50755598,2016-10-01 09:28:00,"Lollard Street, Vauxhall",2016-10-01 09:36:00,"Waterloo Station 3, Waterloo"
3,50755603,2016-10-01 09:28:00,"Lollard Street, Vauxhall",2016-10-01 09:36:00,"Waterloo Station 3, Waterloo"
4,50756101,2016-10-01 10:12:00,"Waterloo Station 3, Waterloo",2016-10-01 10:27:00,"Braham Street, Aldgate"

In [27]:
test = pd.DataFrame(index=waterloo_df.index, columns=['Date Time', 'inout'])
test[['Date Time', 'inout']] = waterloo_df.apply(lambda row: [row['Start Date'],-1] if 'Waterloo Station 3, Waterloo' in row['Start Station Name'] else ([row['Start Date'],1] if 'Waterloo Station 3, Waterloo' in row['End Station Name'] else 0), axis=1)
waterloo_df.head()

ValueError: Columns must be same length as key

In [21]:
waterloo_df_out = waterloo_df[waterloo_df['Start Station Name'] == 'Waterloo Station 3, Waterloo']
df = waterloo_df_out.copy()
waterloo_df_out[['Date Time', 'inout']] = df[['Start Date', 'inout']]

waterloo_df_in = waterloo_df[waterloo_df['End Station Name'] == 'Waterloo Station 3, Waterloo']
waterloo_df_in[['Date Time', 'inout']] = waterloo_df_in[['Start Date', 'inout']]
waterloo_df_out.head()

/tmp/ipykernel_6973/3867660120.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  waterloo_df_out[['Date Time', 'inout']] = df[['Start Date', 'inout']]
/tmp/ipykernel_6973/3867660120.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  waterloo_df_in[['Date Time', 'inout']] = waterloo_df_in[['Start Date', 'inout']]

,Rental ID,Start Date,Start Station Name,End Date,End Station Name,inout,Date Time
4,50756101,2016-10-01 10:12:00,"Waterloo Station 3, Waterloo",2016-10-01 10:27:00,"Braham Street, Aldgate",-1,2016-10-01 10:12:00
7,50758609,2016-10-01 12:24:00,"Waterloo Station 3, Waterloo",2016-10-01 12:39:00,"Kennington Oval, Oval",-1,2016-10-01 12:24:00
8,50759951,2016-10-01 13:10:00,"Waterloo Station 3, Waterloo",2016-10-01 13:56:00,"Eversholt Street , Camden Town",-1,2016-10-01 13:10:00
9,50759954,2016-10-01 13:10:00,"Waterloo Station 3, Waterloo",2016-10-01 13:56:00,"Eversholt Street , Camden Town",-1,2016-10-01 13:10:00
10,50759977,2016-10-01 13:11:00,"Waterloo Station 3, Waterloo",2016-10-01 13:56:00,"Eversholt Street , Camden Town",-1,2016-10-01 13:11:00