In [1]:
import pandas as pd

In [17]:
journey_df = pd.read_csv('data/Journey_Data/394JourneyDataExtract15Apr2024-30Apr2024.csv')
journey_df.head()

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,138959722,2024-04-30 23:59,1162,"Dorset Square, Marylebone",2024-05-01 00:03,1091,"St. John's Wood Church, The Regent's Park",11287,CLASSIC,4m 31s,271568
1,138959723,2024-04-30 23:59,300087,"Imperial Road, Sands End",2024-05-01 00:14,300087,"Imperial Road, Sands End",52305,CLASSIC,14m 54s,894982
2,138959724,2024-04-30 23:59,300087,"Imperial Road, Sands End",2024-05-01 00:14,300087,"Imperial Road, Sands End",50761,CLASSIC,14m 43s,883287
3,138959725,2024-05-01 00:00,964,"Bath Street, St. Luke's",2024-05-01 00:03,989,"Murray Grove , Hoxton",56883,CLASSIC,3m 30s,210876
4,138959719,2024-04-30 23:58,300018,"Charing Cross Hospital, Hammersmith",2024-05-01 00:13,200210,"Westbridge Road, Battersea",60250,PBSC_EBIKE,14m 45s,885586

In [18]:
file_path = 'data/docking_station_locations.txt'
header = ['Station.Id','StationName','longitude','latitude','Easting','Northing']

docking_df = pd.read_csv(file_path, sep=',', encoding='utf-8', header=0, names=header)
print(docking_df.head())

   Station.Id                           StationName  longitude  latitude  \
0           1             River Street, Clerkenwell  -0.109971   51.5292
1           2        Phillimore Gardens, Kensington  -0.197574   51.4996
2           3  Christopher Street, Liverpool Street  -0.084606   51.5213
3           4       St. Chad's Street, King's Cross  -0.120974   51.5301
4           5         Sedding Street, Sloane Square  -0.156876   51.4931

      Easting    Northing
0  531202.520  182832.020
1  525207.070  179391.860
2  532984.810  182001.530
3  530436.760  182911.990
4  528051.649  178742.097

In [35]:
df_temp = docking_df[['StationName', 'longitude', 'latitude']]
# start
df_temp.columns = ['Start station', 'start_longitude', 'start_latitude']
journey_loc_df = journey_df.merge(df_temp, how='left', on='Start station')
# end
df_temp.columns = ['End station', 'end_longitude', 'end_latitude']
journey_loc_df = journey_loc_df.merge(df_temp, how='left', on='End station')

journey_loc_df.head()

journey_loc_df.to_pickle('pickle/journey_loc_df')