In [1]:
!pip install prophet

Collecting prophet
  Downloading prophet-1.1.5-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.5 kB)
Collecting cmdstanpy>=1.0.4 (from prophet)
  Downloading cmdstanpy-1.2.3-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: numpy>=1.15.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from prophet) (1.22.4)
Requirement already satisfied: matplotlib>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from prophet) (3.8.3)
Requirement already satisfied: pandas>=1.0.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from prophet) (2.2.1)
Collecting holidays>=0.25 (from prophet)
  Downloading holidays-0.50-py3-none-any.whl.metadata (23 kB)
Requirement already satisfied: tqdm>=4.36.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from prophet) (4.66.2)
Requirement already satisfied: importlib-resources in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from prophet) (6.4.0)
Collecting stanio<2.0.0,>=0.4.0 (from cmdstanpy>=1.0.4->prophet)
  Downloading stanio-0.5.0-py3-none-any.whl.metadata (1.3 kB)
Requirement already satisfied: python-dateutil in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from holidays>=0.25->prophet) (2.9.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=2.0.0->prophet) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=2.0.0->prophet) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=2.0.0->prophet) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=2.0.0->prophet) (21.3)
Requirement already satisfied: pillow>=8 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=2.0.0->prophet) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from matplotlib>=2.0.0->prophet) (3.1.2)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)
Downloading prophet-1.1.5-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.4/14.4 MB 42.2 MB/s eta 0:00:00:00:0100:01
Downloading cmdstanpy-1.2.3-py3-none-any.whl (94 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.4/94.4 kB 1.3 MB/s eta 0:00:000:00:01
Downloading holidays-0.50-py3-none-any.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 8.2 MB/s eta 0:00:000:00:01
Downloading stanio-0.5.0-py3-none-any.whl (8.0 kB)
Installing collected packages: stanio, holidays, cmdstanpy, prophet
Successfully installed cmdstanpy-1.2.3 holidays-0.50 prophet-1.1.5 stanio-0.5.0

In [1]:
import boto3
import pickle
import matplotlib.pyplot as plt
import pandas as pd
from prophet import Prophet
from prophet.plot import plot_plotly

%matplotlib inline

In [2]:
bucket_name = 'tfl-cycle-data'
s3_file_path = 'Docking_station_data/Waterloo-Jan2016-Apr2024.pkl'
local_file_path = 'temp/Waterloo-Jan2016-Apr2024.pkl'
s3 = boto3.client('s3')

s3.download_file(bucket_name, s3_file_path, local_file_path)

In [3]:
with open(notebook_file_path, 'rb') as f:
    waterloo_df = pickle.load(f)

In [4]:
waterloo_df.head()

,Rental ID,Start Date,Start Station Name,End Date,End Station Name
0,50755276,2016-10-01 08:41:00,"William IV Street, Strand",2016-10-01 08:47:00,"Waterloo Station 3, Waterloo"
1,50755420,2016-10-01 09:05:00,"Bermondsey Street, Bermondsey",2016-10-01 09:15:00,"Waterloo Station 3, Waterloo"
2,50755598,2016-10-01 09:28:00,"Lollard Street, Vauxhall",2016-10-01 09:36:00,"Waterloo Station 3, Waterloo"
3,50755603,2016-10-01 09:28:00,"Lollard Street, Vauxhall",2016-10-01 09:36:00,"Waterloo Station 3, Waterloo"
4,50756101,2016-10-01 10:12:00,"Waterloo Station 3, Waterloo",2016-10-01 10:27:00,"Braham Street, Aldgate"

In [5]:
waterloo_df_out = waterloo_df[waterloo_df['Start Station Name'] == 'Waterloo Station 3, Waterloo']
waterloo_df_out.set_index('Start Date', inplace=True)
rentals_5min = waterloo_df_out.resample('5min').size().reset_index(name='Rentals')

In [6]:
rentals_5min_reformat = rentals_5min[['Start Date', 'Rentals']].rename(columns={'Start Date': 'ds', 'Rentals': 'y'})
rentals_5min_reformat.head()

                   ds  y
0 2015-01-02 01:45:00  1
1 2015-01-02 01:50:00  0
2 2015-01-02 01:55:00  0
3 2015-01-02 02:00:00  0
4 2015-01-02 02:05:00  0

In [7]:
# rentals_hourly = rentals_5min_reformat.resample('H', on='ds').sum().reset_index() # need to do this for it to run on current instance size
# rentals_hourly.head()

In [8]:
# Model for outflow
outflow_model = Prophet()

In [9]:
outflow_model.fit(rentals_5min_reformat)

17:11:12 - cmdstanpy - INFO - Chain [1] start processing
17:20:37 - cmdstanpy - INFO - Chain [1] done processing

In [18]:
# pickle the model and save to S3
name = 'waterloo_outflow_Prophet_model.pkl'
remote_loc = f'Docking-Station-Model/{name}'
local_loc = f'temp/{name}'

with open(local_loc, 'wb') as f:
    pickle.dump(outflow_model, f)
    
bucket_name = 'tfl-cycle-data'
s3 = boto3.client('s3')
s3.upload_file(local_loc, bucket_name, remote_loc)

In [3]:
#load from S3 and Unpickle

name = 'waterloo_outflow_Prophet_model.pkl'
remote_loc = f'Docking-Station-Model/{name}'
local_loc = f'temp/{name}'

bucket_name = 'tfl-cycle-data'
s3 = boto3.client('s3')
s3.download_file(bucket_name, remote_loc, local_loc)

with open(local_loc, 'rb') as f:
    outflow_model = pickle.load(f)

In [4]:
future_outflow = outflow_model.make_future_dataframe(periods=1, freq='h')

In [ ]:
outflow_forecast = outflow_model.predict(future_outflow)

In [ ]:
# Plot outflow forecast
fig_outflow = outflow_model.plot(outflow_forecast)
fig_outflow.show()

In [ ]:
# Filter the forecast to include only the future dates
future_forecast = outflow_forecast[outflow_forecast['ds'] > rentals_hourly['ds'].max()]

# Plot the forecasted data
plt.figure(figsize=(10, 6))
plt.plot(future_forecast['ds'], future_forecast['yhat'], label='Forecasted Outflow')
plt.fill_between(future_forecast['ds'], future_forecast['yhat_lower'], future_forecast['yhat_upper'], color='lightblue', alpha=0.5)
plt.title('Forecasted Outflow')
plt.xlabel('Date')
plt.ylabel('Outflow')
plt.legend()
plt.show()